{% extends 'main/base.html' %}
{% block title%}Create Post{% endblock %}
{% load crispy_forms_tags %}
{%block content%} 
<div class="container" style="align-items: center;">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-between">

    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-primary btn-lg">Edit</button>
        
    </div>
  </form>
</div>

      {% comment %} <label style="float:left">Create Private Post ? 
        <input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" />
      </label> {% endcomment %}




{%endblock %}