{% extends 'main/base.html' %}
{% block title%}Signup Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %} 
    <div class="container" style="align-items: center;">
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
      <div class="text-center">
          <button type="submit" class="btn btn-primary">Signup</button>
      </div>
      </form>
    </div>
    <div class="text-center mt-50">
      {% if messages %}
          {% for message in messages %}
          {% if message.tags == "error" %}
              <div class="alert alert-danger">{{ message }}              
              </div>
          {% else %}
              <div class="alert alert-success">{{ message }}
              <a href="{% url 'login' %}">Login</a>
              </div>
          {% endif %}
          {% endfor %}
  
      {% endif %}



      {% comment %} {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}
              <a href="{% url 'login'%}">Login</a>
            </div>
          {% endfor %}
      {% endif %}
       {% endcomment %}
      </div>
{%endblock %}